    <div class="row">
        <div class="col-md-4">
        <a class="btn btn-primary" href="{{ url_for('measurements_add') }}">Messung hinzufuegen</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th nowrap>Datum</th>
                    <th>Gewicht [kg]</th>
                    <th>BMI</th>
                    <th>Körperfett [%]</th>
                    <th>Muskelmasse [%]</th>
                    <th>Grundumsatz [kcal]</th>
                    <th>Viszeralfett</th>
                    <th>Bauchumfang [cm]</th>
                </tr>
                {% for row in measurements %}
                    <tr>
                        <td nowrap>{{ row.date }}</td>
                        <td>{{ row.weight }}</td>
                        <td>{{ row.bmi }}</td>
                        <td>{{ row.body_fat }}</td>
                        <td>{{ row.muscle }}</td>
                        <td>{{ row.rm_kcal }}</td>
                        <td>{{ row.visceral_fat }}</td>
                        <td>{{ row.circumference }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
