{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-4">
        <a class="btn btn-primary" href="{{ url_for('measurements_add') }}">Messung hinzufuegen</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th nowrap>Datum</th>
                    <th nowrap>Gewicht [kg]</th>
                    <th nowrap>BMI</th>
                    <th nowrap>Koerperfett [%]</th>
                    <th nowrap>Muskelmasse [%]</th>
                    <th nowrap>Grundumsatz [kcal]</th>
                    <th nowrap>Viszeralfett</th>
                    <th nowrap>Bauchumfang [cm]</th>
                </tr>
                {% for row in measurements %}
                    <tr>
                        <td nowrap>{{ row.date }}</td>
                        <td nowrap>{{ row.weight }}</td>
                        <td nowrap>{{ row.bmi }}</td>
                        <td nowrap>{{ row.body_fat }}</td>
                        <td nowrap>{{ row.muscle }}</td>
                        <td nowrap>{{ row.rm_kcal }}</td>
                        <td nowrap>{{ row.visceral_fat }}</td>
                        <td nowrap>{{ row.circumference }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}